
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
    font-family: Ubuntu;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
:root {
    --font-family: Ubuntu;
    --color-title: #212353;
    --color-text: #4B5D68;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    max-width: 1600px;
    margin: 0 auto;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    display: flex;
    flex-direction: column;
    padding: 62px 0px 0px 0px;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0px 15px;
}
    /* @media (max-width: 1120px) {
       .container {max-width: 750px}} */
    
    @media (max-width: 991.98px) {
        .container{max-width: none;
        padding: 0 10px;}
    };

.header {
}
.header__content {
    display: flex;
    align-items: center;
    
}
@media (max-width: 600px) {
    .header__content{display: block;}
}
.logo {
}
@media (max-width: 600px) {
    .logo{text-align: center;
    margin-bottom: 30px;}}
.header__menu {
  
}
.menu {
}
.menu__body {
}
@media (max-width: 600px) {
    .menu__body{height: 80px;}
}
.menu__list {
    display: flex;
    margin-left: 100px;
}
@media(max-width: 600px){
    .menu__list{
        display: block;
        margin-left: 0;
    }
}
.menu__list li {
    margin: 0px 0px 0px 33px;
}
@media (max-width: 600px) {
    .menu__list li{
    display: block;
    text-align: center;
margin: 0px 0px 30px;
}
}
.menu__link {
    font-weight: 800;
    font-size: 16px;
    color: var(--color-title);
    transition: color 0.3s ease 0s;
}
@media (max-width: 600px) {
    .menu__link{font-size: 20px;}}

.menu__link:hover {
    color: rgb(245, 57, 229);
}
.main {
    flex: 1 1 auto;
}
.definition-one {
    margin-bottom: 100px;
}
/* .container {
} */
.definition-one__row {
    margin-top: 150px;
    display: flex;
    width: 1250px;
    height: 570px;
}
@media (max-width: 600px) {
    .definition-one__row{margin-top: 100px;
        display: block;
        max-width: 100%;
        height: 100%;
        }}
.definition-one__text {
}
.text1 {
}
.text1__title {
    max-width: 645px;
    height: 184px;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: var(--color-title);
}
@media (max-width: 600px) {
    .text1__title{font-size: 35px;
        font-weight:600 ;
    max-width: 600px;
text-align: center;
height: 100%;}
    }
.text1__description {
    margin-top: 50px;
    max-width: 380px;
    height: 120px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: var(--color-text);
}
@media (max-width: 600px) {
    .text1__description{margin-top: 20px;
        text-align: center;
        max-width: 600px;
        height: 120px;
        font-weight: 500;
            font-size: 18px;}}
.btn {
    display: block;
    margin-top: 50px;
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    transition: background 0.3s ease 0s;
}
@media (max-width: 600px) {
    .btn{
        margin: 50px auto;
        width: 100px;
        height: 40px;
        background: #9C69E2;
        border-radius: 25px;}}
.btn:hover {
    background: #7f35e7
}
.btn__link {
    font-weight: 800;
    font-size: 18px;
    color: #FFFFFF;
}
@media (max-width: 600px) {
    .btn__link{font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;}}
.definition-one__img {
    align-self: flex-end;
    max-width: 885px;
    max-height: 468px;
    margin-left: -300px;;
}
@media (max-width: 600px) {
    .definition-one__img{display:none}}
.definition-one__img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.definition-two {
    margin-bottom: 150px;
}
@media (max-width: 992px) {
    .definition-two{margin-bottom: 60px;}}
/* .container {
} */
.definition-two__row {
    display: flex;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    height: 560px;
}
@media (max-width: 992px) {
    .definition-two__row{flex-direction: column;
    height: 100%;}}
.definition-two__img {
    flex: 0 0 469px;
    max-height: 496px;
    margin: 32px 0px 32px 16px;
}
@media (max-width: 992px) {
    .definition-two__img{flex: 1 1 auto;
        max-height: 100%;
        margin: 0px auto}}
        @media (max-width: 992px) {
            .definition-two__img img{width: 100%;}}
.definition-two__text {
    margin: 125px 0px 0px 65px;
    max-width: 474px;
    padding: 0px 15px 15px 0px;
    overflow: hidden;
}
@media (max-width: 992px) {
    .definition-two__text{margin: 0;
        max-width: 100%;
        padding: 15px 15px;text-align: center;}}

.text2 {
}
.text2__title {
    max-width: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: var(--color-title);
    margin-bottom: 40px;
}
@media (max-width: 992px) {
    .text2__title{font-size: 35px;}}
.text2__description {
    max-width: 470px;
    max-height: 170px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}
@media (max-width: 992px) {
.text2__description{margin: 0 auto;max-height: 100%;font-size: 20px;}}

.features {
    margin: 0 auto;
    max-width: 1120px;
    height: 100%;
}
.container {
}
.features__head {
    width: 100%;
    height: 260px;
    text-align: center;
}
.head {
}
.head__title {
    height: 52px;
    font-weight: bold;
    font-size: 40px;
    color: var(--color-title);
    }
.head__text {
    margin-top: 50px;
    height: 58px;;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: var(--color-text);
}

.features__blocks {
}
.features__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 1040px) {
    .features__row{flex-direction: column;
    align-items: center;}}
@media (max-width: 600px) {
    .features__row{display: block;text-align: center;}}
.search {
    margin: 0px 20px 20px 0px;
    background: url(../img/search-clg.png) left 50% no-repeat, url(../img/search-vec.png) 90% 10% no-repeat, url(../img/search-elps.png)75% 17% no-repeat, url(../img/search-fon.png) right no-repeat
}
@media (max-width: 600px) {
    .search{background: url(../img/search-fon.png) no-repeat; margin: 0px;}}
.block {
    width: 520px;
    max-height: 100%;
    padding: 55px 0px 35px 280px;
}
@media (max-width: 600px) {
    .block{padding: 0px;width: 100%;}}
.block__title {
    margin: 0px 0px 20px 0px;
    width: 200px;
    height: 50px;
    font-weight: normal;
    font-size: 24px;
    color: var(--color-title);
}
.block__text {
    margin: 0px 0px 20px 0px;
    width: 220px;
    height: 160px;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-text);
}
.block-la {
    width: 130px;
    height: 30px;
}
.block__learn {
    margin-left: 0px;
    width: 87px;
    height: 26px;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.005em;
    color: var(--color-title);
}
.block__arrow {
    margin-left: 20px;
}
.access {
    margin: 0px 0px 20px 20px;
    background: url(../img/image4.png) left 50% no-repeat, url(../img/Vector\ 56.png) 90% 80% no-repeat, url(../img/Rectangle\ 39.png) right no-repeat
}
@media (max-width: 600px) {
    .access{background: url(../img/Rectangle\ 39.png) no-repeat; margin: 0px;}}
.print {
    margin: 20px 20px 0px 0px;
    background: url(../img/image5\ 1.png) left 50% no-repeat, url(../img/Ellipse\ 61.png) 90% 10% no-repeat, url(../img/Rectangle\ 39.png) right no-repeat
}
@media (max-width: 600px) {
    .print 
        {background: url(../img/Rectangle\ 39.png) no-repeat; margin: 0px;}}
.security {
    margin: 20px 0px 0px 20px;
    background: url(../img/image6\ 1.png) left 50% no-repeat, url(../img/Vector\ 57.png) 60% 10% no-repeat, url(../img/Ellipse\ 62.png)90% 90% no-repeat, url(../img/search-fon.png) right no-repeat
}
@media (max-width: 600px) {
    .security{background: url(../img/search-fon.png) no-repeat; margin: 0px;}}

.footer {
    height: 479px;
    margin-bottom: 65px;
}

/* .container {
} */
.footer__row {
    display: flex;
    justify-content: space-between;
}
.footer__contacts {
    width: 335px;
}
.footer__contacts img {
    margin-top: 168px;
}
.footer__contacts span {
    display: inline-block;
    margin: 180px 0px 0px 20px;
    font-weight: 900;
    font-size: 20px;
}
.contacts {
}
.contacts__adress {
    margin-top: 65px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: var(--color-title);
}
.contacts__mail {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: var(--color-title);
}
.contacts__copyright {
    margin-top: 35px;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: var(--color-title);
}
.footer__sm {
    width: 178px;
}
.sm {
}
.sm__text {
    margin-top: 172px;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-title);
}
.sm__f {
    margin: -50px 10px 0px 0px;
    background: url(../img/f.png)50% -15% no-repeat, url(../img/elF.png) 50% no-repeat;
}
.sm__t {
    margin: -50px 10px 0px 0px;
    background: url(../img/t.png)50% -15% no-repeat, url(../img/elF.png) 50% no-repeat;

}
.sm__i {
    margin: -50px 0px 0px 0px;
    background: url(../img/i.png)50% -15% no-repeat, url(../img/elF.png) 50% no-repeat;

}
.lg {
    width: 50px;
    height: 50px;
    margin: 30px 6px 0px 0px;
    display: inline-block;
}

